<div class="row">
    <div class="col">

    </div>
</div>

<button class="btn btn-outline-primary m-2">Angol</button>
<button class="btn btn-outline-secondary">Magyar</button>

<div  class="row mb-4 mt-2">

    <div class="col">

        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <th *ngFor="let columns of columns">{{columns.key}}

                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let columns of columns">

                        <ng-container *ngIf="columns.type!='plain'; else notchange">
                            <input [type]="columns.type" class="form-control" [(ngModel)]="newProduct[columns.key]">
                        </ng-container>
                        <ng-template #notchange>
                        </ng-template>
                    </td>
                    
                    <td>
                        <button class="btn btn-primary" (click)="addProduct()">Add</button>
                    </td>
                </tr>
                
            
            
        


                <tr *ngFor="let product of products">
                    <td *ngFor="let columns of columns">
                        <ng-container *ngIf="columns.           type!='plain'; else notchange">
                        {{product[columns.key]}}
                        </ng-container>
                        <ng-template #notchange>

                        </ng-template>
                    </td>
                    <td>
                        <button class="btn btn-outline-success" (click)="updateProduct(product, product.id)">Update</button>
                    
                    

                        <button class="btn btn-outline-danger" (click)="deleteProduct(product)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



